/* Utilities */
.fs-small{
    font-size: 0.8rem;
}

.bg-teal{
    background-color: var(--bs-teal);
}

.card-hero>img{
    width: 20%;
}

.bg-navy{
    background-color: #3A546D;
}

.c-teal{
    color: var(--bs-teal);
}

.copy{
    background-color: #2c3e50;
}